.kong.content {
	text-align: center;
	width:100%;
}
.燒燙燙 {
  min-height: 150px;
}

.燒燙燙 .loading {
  display: none;
}

.燒燙燙 a {
	cursor: pointer;
}

.tsusun-kaisiau {
  background-color: rgb(207, 229, 229);
  border: 1px solid;
  border-color: rgb(183, 216, 215);
  padding: 0.5rem;
}
