django
gunicorn
whitenoise

# tsu-liau-khoo
tai5-uan5-gian5-gi2-kang1-ku7>1.0.0
pyyaml
psycopg2
django-cors-headers
pypi-libavwrapper

# ping-tai
django-allauth
python-dateutil
django-cors-headers
pyOpenSSL
oauth2client
gspread
celery
